modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
JWT_SECRET = "occ-solid-group-jwt-secret-2026-prod-key"
VAPID_PUBLIC_KEY = "BNYCCXCQFU2R687gwpDHJoKhk3ePt-XWgY93vJ6kC9cut-UqvrfNhSIedIw8nn9k66VbVu5E0LsDlwf99F8jT8M"
VAPID_EMAIL = "mailto:admin@occ.id"
